body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
}
#content{
    background-image: url('../img/Logo_blur.png');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -100px;
    min-height: 600px;
    /* Để footer không đè lên nội dung, dùng padding-bottom với chiều cao của footer */
    padding-bottom: 60px;
    box-sizing: border-box;
    margin-left: 150px;
    margin-right: 150px;
    /* border: 1px solid black; */
    /* margin-top: px; */
}
.container{
    max-width: 960px;
    margin: 0px auto;
}
#header{
    background-color: rgb(43, 48, 63);
    font-weight: 700;
    font-size: large;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#logo {
    padding: 5px 0px;
}
#logo img{
    max-width: 50px;
    height: auto;
    border-radius: 100%;
}
#main_menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main_menu li {
    position: relative;
}
#main_menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 23px 20px;
}
#main_menu ul.sub_member{
    display: none;
    position: absolute;
    background-color:  rgb(43, 48, 90);
    padding: 10px 0px;
    list-style: none;
    width: 170px;
    font-weight: 500;
    font-size: small;
}
#main_menu li:hover ul.sub_member{
    display: block;
}

#main_menu ul.sub_member a{
    padding: 8px 15px;
    border-bottom: 3px solid rgb(89, 96, 116);
}
#main_menu ul.sub_member li:hover a{
    border-bottom: 3px solid rgb(173, 187, 227);
}
#main_menu ul.sub_member li:last-child a {
    border: none;
}
/*Thiết lập border trong khi hover*/
#main_menu>li>a{
    position: relative;
}
#main_menu>li>a::before{
    content: "";
    height: 3px;
    width: 0px;
    left: 0px;
    bottom: 0px;
    background:rgb(114, 122, 195);
    position: absolute;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main_menu>li:hover>a::before{
    width: 100%;
}
#title{
    font-family: "Anton", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
}
.member_table{
    /* border: 2px solid purple; */
    padding-right: 40px;
    padding-top: 20px;
    width: 100%;
}
.member_table1{
    list-style: none;
    /* justify-items:center; */
    justify-content: space-between;
    display: flex;
    height: 200px;
    padding-bottom: 100px;
}
.member_table2{
    list-style: none;
    /* justify-items:center; */
    justify-content: space-between;
    display: flex;
    height: 200px;
    padding-bottom: 100px;
}
.member_table li{
    /* margin: 50px; */
    width: 180px;
    height: 270px;
    /* border: 2px solid red; */
}
.member_table a{
    /* border: 2px solid black; */
    text-decoration: none;
    color: black;
    /* width: auto; */
}
.member_table img{
    width: 180px;
    height: 240px;
    object-fit: cover;
}
 #name{
    width: 180px;
    /* background-color: rgb(217, 213, 225); */
    /* border-radius: 8px; */
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 10px;
    height: 30px;
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}
footer
{
    position:relative;
    left: 0px;
    bottom: 0px;
    justify-items:center;
    justify-content: space-between;
    display: flex;
    background-color: rgb(100, 122, 185);
    padding: 10px 30px 10px 30px;
    line-height: 10px;
    color: rgb(78, 70, 146);
    font-weight: 100;
    font-size: smaller;
}
footer a{
    text-decoration: none;
    color: rgb(78, 70, 146);
}