body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: rgb(0, 0, 0);
}
#content{
    /* background-image: url('../img/Poster_demo2.png'); */
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -100px;
    min-height: 600px;
    /* Để footer không đè lên nội dung, dùng padding-bottom với chiều cao của footer */
    padding-bottom: 60px;
    box-sizing: border-box;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
}
.container{
    max-width: 960px;
    margin: 0px auto;
}
#header{
    background-color: #213A57;
    font-weight: 700;
    font-size: large;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#logo {
    padding: 5px 0px;
}
#logo img{
    max-width: 50px;
    height: auto;
    border-radius: 100%;
}
#main_menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main_menu li {
    position: relative;
}
#main_menu li a{
    color: white;
    text-decoration:none;
    display: block;
    padding: 23px 20px;

}
#main_menu ul.sub_member{
    display: none;
    position: absolute;
    background-color:  rgb(43, 48, 90);
    padding: 10px 0px;
    list-style: none;
    width: 170px;
    font-weight: 500;
    font-size: small;
}
#main_menu li:hover ul.sub_member{
    display: block;
}

#main_menu ul.sub_member a{
    padding: 8px 15px;
    border-bottom: 3px solid rgb(89, 96, 116);
}
#main_menu ul.sub_member li:hover a{
    border-bottom: 3px solid rgb(173, 187, 227);
}
#main_menu ul.sub_member li:last-child a {
    border: none;
}
/*Thiết lập border trong khi hover*/
#main_menu>li>a{
    position: relative;
}
#main_menu>li>a::before{
    content: "";
    height: 3px;
    width: 0px;
    left: 0px;
    bottom: 0px;
    background:rgb(114, 122, 195);
    position: absolute;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main_menu>li:hover>a::before{
    width: 100%;
}
#title{
    font-family: "Anton", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color:rgb(162, 162, 162);
}
.member_table{
    /* border: 2px solid purple; */
    padding-right: 40px;
    padding-top: 20px;
    width: 100%;
}
.member_table1{
    list-style: none;
    justify-content: space-between;
    display: flex;
}
.member_table2{
    list-style: none;
    justify-content: space-between;
    display: flex;
}
.member_table li{
    width: 250px;
    aspect-ratio: 3 / 4;
    padding: 1px;
    /* border: 2px solid rgb(25, 72, 114); */
    position: relative;

}
#content .member_table li img, #content .member_table li a
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.member_table li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgba(7, 1, 30, 0.641);
    display: none;
}
.member_table li img{
    object-fit: cover;
}
.member_table li a #name{
    width: 100%;
    text-align: center;
}
.member_table li:hover a{
    display: flex;
}
footer
{
    position:relative;
    left: 0px;
    bottom: 0px;
    justify-items:center;
    justify-content: space-between;
    display: flex;
    background-color: #152436;
    padding: 10px 30px 10px 30px;
    line-height: 10px;
    color: #748497;
    font-weight: 100;
    font-size: smaller;
}
footer a{
    text-decoration: none;
    color: #748497;
}