#info{
    /* border: 1px solid blue; */
    min-width: fit-content;
    margin-top: 100px;
    /* padding-bottom: 30px; */
    display: flex;
    font-family: "noto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 230%;
    background-color: #ffffff0f;
    border-radius: 10px;
    color: rgb(162, 162, 162);
    padding-right: 5%;
}
#profile_pic{
    position: static;
    /* margin: 40px 0px 0px 40px; */
    width: 400px;
    aspect-ratio: 3/4;
    object-fit: cover;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%; */
}
#profile
{
    /* position: static; */
    margin-top: 0px;
    width: 100%;
    /* width: 100%; */
    /* border: 1px solid red; */
    right: 0px;
    align-content: center;
    justify-items: center;
    /* border: 1px solid red; */

}
#profile ul{
    list-style: none;
    /* border: 1px solid blue; */
    /* width: fit-content; */
    font-style: italic;
}
.name {
    font-family: "Anton", serif;
    font-size: 60px;
    /* border: 1px solid yellow; */
    margin-bottom: 0;
    margin-top: 0;
    font-style: normal;
}
#quote{
    /* position: relative; */
    /* top: 600px; */
    width: 96%;
    margin-top: 20px;
    border-left: 40px double #0c6073;
    text-align: center;
    padding: 10px;
    background-color: #43697133;
    font-size: 35px;
    font-family: "Cormorant Upright", serif;
    font-weight: 500;
    font-style: italic;
    min-height: min-content;
    color: rgb(162, 162, 162);
}